.background {
  position:absolute;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url("/walkman-1.gif"),url("/walkman-2.gif"), linear-gradient(180deg, rgba(53,233,255,1) 0%, rgba(255,66,232,1) 100%);
  background-repeat: repeat, repeat, no-repeat;
  background-size: 150px, 75px, cover;
  background-color: rgb(53,233,255);
}

.wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 700px;
  display: grid;
  grid-template-areas:
    "head head head"
    "posts posts frog"
    "posts posts nav"
    "posts posts nav"
    "friend friend friend";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.header{
  grid-area: head;
  width: 100%;
}

.welcomeWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: auto;
  width: auto;
  background-color: rgb(255 66 232);
}

.welcome{
  font-family: 'Times New Roman', Times, serif;
  color: #39e6ff;
  font-size: 3rem;
  margin: auto;
}

.statue {
  height: 150px;
  padding: 10px 0 10px 0px;
  margin: auto
}
.statue:hover {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

.frog {
  grid-area: frog;
  width: 100%;
}

.posts {
  grid-area: posts;
  width: 100%;
  height: auto;
  background-color: rgb(255 66 232);
}

.postTitle{
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #39e6ff;
  font-size: 2rem;
}

.rentafriend {
  grid-area: friend;
}