.background {
  position:absolute;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url("/walkman-1.gif"),url("/walkman-2.gif"), linear-gradient(180deg, rgba(53,233,255,1) 0%, rgba(255,66,232,1) 100%);
  background-repeat: repeat, repeat, no-repeat;
  background-size: 150px, 75px, cover;
  background-color: rgb(53,233,255);
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin:auto;
  margin-top: 250px;
  width: 25%;
  gap: 100px;
  align-items: center;
}
.charlie {
  height: 200px;
  padding: 5px;
  background: rgb(255,53,57);
  background: linear-gradient(90deg, rgba(255,53,57,1) 0%, rgb(235, 160, 20) 100%);
}